<div class="card">
  <div class="card-body text-center">
    <h4>Editar: </h4>
    <a href="/admin/categorias/" class="me-3" style="text-decoration: none;">
      <button class="btn btn-success">Categorias</button>
    </a>
    <a href="/admin/postagens/" class="ms-3" style="text-decoration: none;">
      <button class="btn btn-success">Postagens</button>
    </a>
  </div>
</div>